<div class="header">
  to-dos
</div>

<mat-card class="card" >
    <mat-tab-group class="main">
      <mat-tab label={{tab_1}}>
        <br>
          <mat-form-field>
            <mat-label> New To-Do </mat-label>
                <input matInput [(ngModel)]="toDoText" placeholder="Another chore?" value={{toDoText}}/>
          </mat-form-field>
            <button mat-raised-button (click)="newToDo()">Submit</button>

          <mat-selection-list>
            <mat-list-option *ngFor="let selectedToDo of toDoList" (click)="removeToDo(selectedToDo)"
            (dblclick)="editToDo()"> {{selectedToDo?.text}}
            </mat-list-option>
          </mat-selection-list>
      </mat-tab>

      <mat-tab label={{tab_2}}>
        <mat-list>
          <mat-list-item *ngFor="let completedToDo of completedToDos">{{completedToDo?.text}}
            <mat-icon>check</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
</mat-card>

<div class="footer">
  Completed To-dos: {{completedToDos.length}} <br> To-dos Left: {{toDoList.length}}
</div>
