<div [@frameEnter] class="header">
  todos
</div>

<mat-card [@simpleFadeAnimation]="'in'" class="card" >
    <mat-tab-group>

      <mat-tab [label]="tab_1">
          <mat-form-field>
            <mat-label>New To-Do</mat-label>
            <input matInput [(ngModel)]="toDoText" placeholder="Another chore?" />
          </mat-form-field>
          <button mat-raised-button (click)="newToDo()">Submit</button>
          <div [@listEnter]="todos.length">
            <app-todo-item   *ngFor = "let todo of todos"
                             [todo]="todo"
                             (onTodoChange)="handleTodoChange($event)"></app-todo-item>
          </div>
      </mat-tab>

      <mat-tab [label]="tab_2">
        <mat-list>
          <mat-list-item *ngFor="let todo of completeTodos">{{todo?.text}}<mat-icon>check</mat-icon></mat-list-item>
        </mat-list>
      </mat-tab>

    </mat-tab-group>
</mat-card>

<div class="footer">
  Completed Todos: {{completeTodos.length}} <br> Todos Left: {{(todos | isComplete:false)?.length}}<br/>
</div>
